/* on définit la font demandée dans le body, pour qu'elle s'applique partout */
body {
    font-family: 'Open Sans', sans-serif;
  }
  
  /* on met l'image de bkd sur le header, mais on met aussi un bkd blanc sur le menu */
  header {
    background: url('../images/home-bg.jpg') transparent left top no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
  
  /* Comme dit dans header, on met un fond blanc à la nav (voir maquette mobile) */
  .navbar {
    background-color: #f8f8f8;
  }
  
  /* on surcharge les éléments de bootstrap. Pour surcharger, le "poids" du selecteur/ciblage doit être le même que celui des styles de bootstrap */
  .navbar,
  .navbar-light .navbar-brand,
  .navbar-light .navbar-toggler {
    color: #777;
    font-weight: 800;
  }
  
  /* on créé la barre entre titre et slogan */
  header hr {
    border-width: 3px;
    border-color: white;
    width: 60px;
  }
  
  /* le graphiste nous a donné la size à définir pour navbar-brand */
  .navbar-light .navbar-brand {
    font-size: 18px;
  }
  
  .navbar-toggler,
  .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    transition: 400ms;
  }
  
  header section {
    padding: 1em 0;
  }
  
  header h1 {
    font-size: 50px;
    font-weight: 800;
  }
  
  header p {
    font-size: 24px;
    font-weight: 300;
  }
  
  /* ici on a créé un peu d'espace, l'unité est le "em" pour que ça dépende de la font-size du parent (que ce soit relatif) */
  article.card {
    margin: 2em 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
  
  article h2 {
    font-size: 30px;
    font-weight: 800;
  }
  
  article p.card-text {
    font-size: 24px;
    font-weight: 300;
  }
  
  article div {
    font-size: 18px;
    font-weight: 400;
    color: black;
  }
  
  article a,
  article time {
    color: black;
  }
  
  article .infos {
    font-style: italic;
    color: grey;
  }
  
  .page-link {
    text-transform: uppercase;
    color: inherit;
    font-size: 0.8em;
  }
  
  .page-link:hover {
    background-color: #dee2e6;
    color: inherit;
  }
  
  aside {
    display: none;
    padding: 2em 0;
  }
  
  footer {
    margin-bottom: 1em;
  }
  
  footer .social-networks {
    margin: 10px 0;
  }
  
  footer .social-networks a {
    font-size: 40px;
    color: black;
  }
  
  footer .links a {
    color: inherit;
  }
  
  
  footer .social-networks a:hover,
  footer .links a:hover {
    color: grey;
    text-decoration: none;
  }
  
  /* device de 768px min (tablette ou +) => md chez bootstrap */
  @media (min-width:768px) {
  
    /* le header est différent, le titre et le slogan disparaissent */
    header {
      padding-bottom: 0;
      /* on retire le padding-bottom car il n'y a plus de titre et slogan, donc plus besoin de cet espacement */
    }
  
    /* on retire le fond blanc de la navbar */
    .navbar {
      background-color: transparent;
    }
  
    /* on met les textes en blancs car l'image de fond est foncée */
    .navbar,
    .navbar-light .navbar-brand,
    .navbar-light .navbar-toggler,
    .navbar-light .navbar-nav .nav-link {
      color: white;
    }
  
    .navbar-light .navbar-nav .nav-link:hover {
      color: rgba(255,255,255,0.5);
    }
  
    header section {
      display: none;
    }
  }
  
  /* devide de 992px de large ou plus => lg chez bootstrap */
  @media (min-width:992px) {
    header section {
      display: block;
    }
  
    header h1 {
      font-size: 80px;
    }
  
    /* pour que le texte soit centré sans être trop prêt des bords */
    header p {
      width: 60%;
      margin: auto;
      padding-bottom: 2em;
    }
  
    /* Affichage de la sidebar => on définit couleurs, size et espacement */
    .card-header {
      background: #3d1d67;
      color: white;
      font-weight: 800;
    }
  
    .card a {
      color: black;
    }
  
    .card-categories a {
      text-transform: uppercase;
    }
  
    .card {
      margin: 2em 0;
    }
  
    aside {
      display: block;
    }
  }
  
  /* Affichage des bonus */
  .sans-bonus {
    display: block;
  }
  
  .avec-bonus {
    display: none;
  }